.conter{/* Classe do background azul */
    background-color: #3490dc;
    color:white
    
}
.pesquisa{
    background-color: white;
    color: black;
    border-radius: 20px;
    max-width: 700px;
}
.h1titulo{ /*Classe para titulos*/
    text-align: center;
}

.botaobusca{/*Classe do botão de busca  
    Se precisar de alteração de cor e tamanho no botão deve ser feitas aqui*/
    border-radius: 15px;
    height: 60px;
    position: relative;
    background-color: #3490dc;
    color: white;
    font-size: 30px;
}