.tudo{ /*background completo*/
    background:#3490dc url('../imagens/pomboCadastro.PNG') no-repeat left;
    
}
.h1cad{/* cabeçalho estilizado 1*/
    color: white;
    text-align: left;
    font-size: 38px;
}
.h3cad{ /*cabeçalho estilizado 2*/
    color: white;
    text-align: left;
    font-size: 18px;
}
.formulario{ /*cor do formulário*/
    background-color: white;
    max-width: 750px;
}
.texto{/*texto dentro do formulário*/
    text-align: left;
    font-size: 18px;
    
    
}
.botaocad{ /*botão de cadastro
    Se for mudar a aparencia do botão tem que ser aqui*/
    border-radius: 15px;
    height: 60px;
    position: relative;
    background-color: #3490dc;
    color: white;
    font-size: 30px;
}
.cadinput{
    text-align: center;
    border-radius: 15px;
}