.logo{
    width: 50px;
    height: 55px;
    margin-left: 40px;
    margin-right: 20px;
}


.social{
    width: 20px;
    height: 20px;
    margin-left: 0px;
}
.fote{
    align-self: center;
    text-align: center;
    font-size: 24px;
}
.aas{
    margin-left: 50px;
}

.logoo{
    width: 70px;
    height: 90px;
    margin-left: 50px;
    margin-right: 10px;
}

